body {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_1584,c_limit/dce3629b-959d-43bc-b590-78ec1009cb70/nike-just-do-it.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.addProduct-ontainer {
  width: 30%;
  margin: 180px auto;
  border-radius: 20px;
  border: 2px solid black;
}
.addProduct-ontainer input {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
}
.addProduct-ontainer input:focus {
  background: white;
}
