.main-map {
  display: flex;
  justify-content: center;
  /* margin-bottom: 250px; */
  margin-top: 50px;
  background-image: url("https://media.istockphoto.com/id/1151366980/vector/town-map-seamless-texture.jpg?s=612x612&w=0&k=20&c=j4o2rUSMq-5Xokt7SRPQLQMTL4DyB0AzvVuwAE7Oe0I=");
}

.map {
  width: 50%;
  height: 50vh;
  padding: 50px;
}
